body {
    margin: 0;
}
main {
    margin: 0;
    width: 50%;
    height: 100vw;
    border: 1px solid black;
    margin: auto;
}
#grid-section {
    display: grid;
    background-color: white;
    grid-template-areas: 'head head head head' 'side main main side2' 'foot foot foot foot';
    grid-gap: 10px;
}
#grid-section div{
    background-color: aqua;
}
#header {
    grid-area: head;
    padding: 50px;
}
#side {
    grid-area: side;
}
#main {
    grid-area: main;
}
#side2 {
    grid-area: side2;
}
#foot {
    grid-area: foot;
    padding: 30px;
}
#side, #main, #side2 {
    height: 300px;
}